version: "3.9"

services:
  api-gateway:
    image: ghcr.io/innovatecodefactory/marquei-api-gateway:latest
    container_name: api-gateway
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    env_file: .env
    networks:
      - rabbit_external_network
      - redis_external_network

  messaging:
    image: ghcr.io/innovatecodefactory/marquei-messaging:latest
    container_name: messaging
    restart: always
    environment:
      - PORT=3001
    env_file: .env
    networks:
      - rabbit_external_network
      - redis_external_network

  payment:
    image: ghcr.io/innovatecodefactory/marquei-payment:latest
    container_name: payment
    restart: always
    environment:
      - PORT=3002
    env_file: .env
    networks:
      - rabbit_external_network
      - redis_external_network

  scheduler:
    image: ghcr.io/innovatecodefactory/marquei-scheduler:latest
    container_name: scheduler
    restart: always
    environment:
      - PORT=3003
    env_file: .env
    networks:
      - rabbit_external_network
      - redis_external_network

networks:
  rabbit_external_network:
    external: true
  redis_external_network:
    external: true
