name: Build & Deploy

on:
  push:
    branches:
    - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # necessário pro GHCR

    strategy:
      matrix:
        service:
        - name: api-gateway
          port: 3000
        - name: messaging
          port: 3001
        - name: payment
          port: 3002
        - name: scheduler
          port: 3003

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4

    - name: Login no GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build e push da imagem ${{ matrix.service.name }}
      uses: docker/build-push-action@v5
      with:
        context: .
        file: apps/${{ matrix.service.name }}/Dockerfile
        push: true
        tags: |
          ghcr.io/innovatecodefactory/marquei-${{ matrix.service.name }}:latest
          ghcr.io/innovatecodefactory/marquei-${{ matrix.service.name }}:${{ github.sha }}
        build-args: |
          APP_NAME=${{ matrix.service.name }}
          APP_PORT=${{ matrix.service.port }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4

    - name: Instalar sshpass
      run: sudo apt-get update && sudo apt-get install -y sshpass

    - name: Conectar na VPS e rodar deploy
      run: |
        sshpass -p "${{ secrets.VPS_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
          cd /var/www/marquei/backend
          git pull
          sh run/prod-up.sh
        EOF
